body{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(26, 25, 25);
    color: #fff;
}
h1{
    margin: 30px;
    padding: 10px;
    text-align: center;
}
.none{
    width: 400px;
    height: 400px;
    margin-top: 150px;
    border-radius: 30px;
    box-shadow: 4px 4px 4px;
    background: rgb(48, 58, 80) ;
}
.input{
    color: #fff;
    border: none;
    outline: none;
    margin-bottom: 20px;
    height: 25px;
    width: 70%;
    border-radius: 4px;
    margin: 6px 50px;
    background: #1a1919;
    padding: 4px;
    box-shadow: 4px 4px 4px;
}
#but{
    display: block;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    width: 60%;
    height: 25px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 8px;
    color: #fff;
    box-shadow: 2px 4px 4px;
    background-color: rgb(34, 42, 49);
}
input:hover{
    transform: scale(1.03);
}
